/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.mouse {
  background-color: yellow;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

